
.form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.07);
  font-family: Arial, sans-serif;
  -webkit-appearance: none;
  color: #2c2c2c;
  outline: 0;
  padding: 8px 12px;
  line-height: normal;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
  min-height: 35px;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
  background: #F6F3F4;
  width: 100%;
}

.form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #e7e7e7;
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #999;
}

.form-control:focus::-moz-placeholder {
  color: inherit;
  opacity: 0.7;
}

.form-control:focus:-ms-input-placeholder {
  color: inherit;
  opacity: 0.7;
}

.form-control:focus::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.7;
}

.form-control::-moz-placeholder {
  color: inherit;
  opacity: 0.33;
}

.form-control:-ms-input-placeholder {
  color: inherit;
  opacity: 0.33;
}

.form-control::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.33;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: #f3f3f3;
  color: rgba(87, 87, 87, 0.75);
}

.form-control.transparent {
  background-color: transparent;
  border-color: transparent;
}

.form-control.transparent:focus {
  background-color: transparent;
  border-color: transparent;
}

.form-control.is-invalid {
  border: 1px solid red;
}

textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control{
  min-height: 150px;
  min-width: 400px;
  resize: vertical;
  line-height: 1.6;
}